* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
  transition: all 0.2s linear;
}
$border: 0.3rem solid rgba(225, 255, 255, 0.2);
body {
  background: #010102;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: #010102;
  }
  &::-webkit-scrollbar-thumb {
    background: #084c9e;
  }
}
section {
  padding: 3rem 9%;
}

.btn {
  background: #111;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 10px;
  position: relative;
  &:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  &:active {
    color: #000;
  }

  &:active:after {
    background: transparent;
  }

  &:hover:before {
    opacity: 1;
  }

  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}
@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 2rem;
}
@mixin text($text-value, $text-hight, $text-transform, $color) {
  font-size: $text-value;
  color: $color;
  line-height: $text-hight;
  text-transform: $text-transform;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #010102;
  padding: 1rem 9%;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $border;
  transform: translateY(-20rem);
  &.active {
    transform: translateY(0);
  }
  .logo {
    @include text(2.4rem, unset, capitalize, white);
  }
  .navbar {
    ul {
      li {
        display: inline-block;
        a {
          @include text(2rem, unset, capitalize, white);
          margin: 0 1rem;
          &:hover {
            color: #da5c00;
          }
        }
      }
    }
  }
  .icons {
    div,
    a {
      height: 4.5rem;
      width: 4.5rem;
      @include text(2rem, 4.5rem, capitalize, black);
      cursor: pointer;
      background: #fff;
      text-align: center;
      margin-left: 0.5rem;

      &:hover {
        background: #da5c00;
        color: #fff;
      }
    }
    #menu-btn {
      display: none;
    }
  }
  .search {
    position: absolute;
    left: 0;
    top: 99%;
    right: 0;
    background: #010102;
    display: flex;
    padding: 0 9%;
    align-items: center;
    border-top: $border;
    border-bottom: $border;
    height: 6rem;
    gap: 1rem;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);

    &.active {
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    input {
      width: 100%;
      background: none;
      color: white;
      font-size: 2rem;
    }
    label {
      font-size: 2rem;
      cursor: pointer;
      color: white;

      &:hover {
        color: #da5c00;
      }
    }
  }
}
.home {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: url(../../img/home-bg.jpg) no-repeat;
  object-fit: cover;
  object-position: center;
  background-attachment: fixed;

  .tree {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20rem;
    width: 100%;
    object-fit: cover;
    z-index: 10;
  }
  .mountians {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40rem;
    width: 100%;
    object-fit: cover;
    z-index: 5;
  }
  .moon {
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    z-index: 1;
  }
  .cloud-1 {
    position: absolute;
    top: 5rem;
    right: 0;
    width: 60vw;
    z-index: 2;
  }
  .cloud-2 {
    position: absolute;
    top: 20rem;
    left: 0;
    width: 60vw;
  }
  .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 3;
    color: #fff;
    font-size: 2rem;
    p {
      @include text(4rem, 15rem, uppercase, white);
    }
    h3 {
      @include text(3rem, unset, uppercase, white);
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background: linear-gradient(transparent, #010102);
    z-index: 12;
  }
}
.about {
  width: 100%;
  height: fit-content;
  @include grid(30rem);
  img {
    width: 100%;
    height: 100%;
  }
  .text {
    color: #fff;
    padding: 10%;
    h5 {
      @include text(1.5rem, unset, uppercase, #da5c00);
    }
    h2 {
      @include text(3rem, unset, capitalize, #fff);
      margin: 2rem 0;
    }
    p {
      @include text(1.6rem, 3rem, capitalize, gray);
      margin-bottom: 20px;
    }
  }
}
.product {
  h2 {
    @include text(3rem, unset, uppercase, #fff);
    margin: 3rem 0;
    text-align: center;
    span {
      color: #da5c00;
    }
  }
  .product-container {
    @include grid(30rem);
    .box {
      text-align: center;
      &:hover .img {
        img {
          transform: scale(1.1);
        }
        .icons {
          transform: translateY(0);
        }
      }
      .img {
        width: 100%;
        height: 30rem;
        position: relative;
        overflow: hidden;
        img {
          height: 100%;
        }
        .icons {
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: rgba(0, 0, 0, 0.666);
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateY(-100%);
          a {
            height: 4.5rem;
            width: 4.5rem;
            @include text(2rem, 4.5rem, capitalize, black);
            cursor: pointer;
            background: #fff;
            text-align: center;
            margin-left: 0.5rem;

            &:hover {
              background: #da5c00;
              color: #fff;
            }
          }
        }
      }
      h3 {
        @include text(2.4rem, unset, capitalize, white);
      }
      .price {
        @include text(2rem, unset, capitalize, white);
        span {
          font-size: 1.8rem;
          text-decoration: line-through;
        }
      }
    }
  }
}

.services {
  h2 {
    @include text(3rem, unset, uppercase, #fff);
    margin: 3rem 0;
    text-align: center;
    span {
      color: #da5c00;
    }
  }
  .container-services {
    @include grid(31rem);
    .box {
      display: grid;
      place-items: center;
      text-align: center;
      padding: 3rem;
      cursor: pointer;
      &:nth-child(even) {
        background: #111;
        border-radius: 0.5rem;
      }
      &:hover i {
        transform: translateY(-1rem);
      }
      i {
        width: 60px;
        height: 60px;
        background: #da5c00;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        border-radius: 50%;
        color: #fff;
      }
      h3 {
        @include text(2rem, unset, capitalize, #fff);
        margin: 1.5rem;
      }
      p {
        @include text(1.6rem, 3rem, capitalize, #fff);
      }
    }
  }
}
.gallery {
  h2 {
    @include text(3rem, unset, uppercase, #fff);
    margin: 3rem 0;
    text-align: center;
    span {
      color: #da5c00;
    }
  }
  .gallery-container {
    position: relative;
    width: 100%;

    img {
      max-width: 395px;
      max-height: 277px;
    }
    .topbar {
      position: relative;
      padding: 20px 0;
      margin: 0 0 40px;

      .back {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -20px 0 0 -20px;
        border-radius: 50%;
        text-align: center;
        line-height: 38px;
        color: #fff;
        background: #da5c00;
        cursor: pointer;
        display: none;
        user-select: none;
        font-size: 2rem;
      }
    }
    .tp-grid {
      list-style-type: none;
      position: relative;
      @include grid(10rem);
      &.no-js li {
        position: relative;
        display: inline-block;
      }
      li {
        position: absolute;
        cursor: pointer;
        border: 10px solid #fff;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        display: none;
        overflow: hidden;
        backface-visibility: hidden;
        a {
          display: block;
          outline: none;
          img {
            display: block;
            border: none;
          }
        }
        .tp-info,
        .tp-title {
          position: absolute;
          background: #fff;
          line-height: 20px;
          color: #333;
          top: 40%;
          width: 75%;
          font-size: 2rem;
          padding: 10px;
          font-weight: 700;
          text-align: right;
          left: -100%;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1),
            5px 0 5px -3px rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.04);
          text-transform: capitalize;
          text-align: center;
        }
        .tp-title {
          padding: 10px 35px 10px 10px;
          left: 0px;
          span:nth-child(2) {
            color: #aaa;
            padding: 0 5px;
            background: #f7f7f7;
            right: 0px;
            height: 100%;
            line-height: 40px;
            top: 0px;
            position: absolute;
            display: block;
          }
        }

        .touch .tp-info {
          left: 0px;
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    #menu-btn {
      display: inline-block !important;
    }
    .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      border-top: $border;
      border-bottom: $border;
      background: #010102;
      clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
      ul {
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 2rem;
        }
      }
      &.active {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
      }
    }
  }
  .home {
    .cloud-1 {
      top: 10%;
    }

    .moon {
      width: 20rem;
      z-index: 0;
    }

    .content {
      p {
        font-size: 2rem;
      }

      h3 {
        font-size: 3rem;
      }
    }
  }
}
@media screen and (max-width: 680px) {
  .topbar h2,
  .topbar h3 {
    text-align: left;
    padding: 0;
    display: block;
  }
  .back {
    left: auto;
    right: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .gallery {
    padding: 0;
  }
}
